{% extends "base.html" %}
{% block title %}Buscar cliente{% endblock %}

{% block content %}
<style>body{background: white}</style>
<div style="border-style:solid; border-color:#fc8b0a; border-top-width: 2px"></div>

<div class="container" style="color: #514e53">
    <div class="py-5 text-center">
      <h2>Consulta de cliente</h2>
      <p class="lead">Por favor, entre com o codigo do cliente.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1 ">
          <form action="#" method="POST" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3 text-center">
                <input type="number" class="form-control" name="cliente_id" placeholder="Codigo do cliente" value="" required>
                <div class="invalid-feedback">
                  Favor fornecer o codigo do cliente.
                </div>
              </div>
              <button class="btn btn-primary btn-lg" type="submit" value="submit">Consultar</button>
            </form>
          </div>
        </div>
</div>
{% endblock %}