{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
<style>body{background: white}</style>
<div style="border-style:solid; border-color:#fc8b0a; border-top-width: 2px"></div>
<div style="color: #890d7a; margin: 70px; line-height: 1.5; text-align:center">
    <h2>Seja bem-vindo(a) ao nosso novo site!!!</h2>
</div>
<div style="background-color:white">
    <p style="color: #890d7a; font-size:28px; font-style: italic; margin: 25px; line-height: 1.5; text-align: center;">
        Estamos felizes em ter você conosco!<br>
</div>
<div style="color: #890d7a; margin: 70px; line-height: 1.5; text-align:center">
    <h2>Aproveite!!!</h2>
</div>


{% endblock %}