{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
<style>body{background: white}</style>
<div style="border-style:solid; border-color:#fc8b0a; border-top-width: 2px"></div>

<div class="container" style="color: #514e53">
    <div class="py-5 text-center">
      <h2>Cadastro de pedidos</h2>
      <p class="lead">Por favor, entre com os dados do pedido.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1 ">
          <h4  class="mb-3">Dados do Pedido</h4>
          <form action="#" method="POST" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Codigo do cliente</label>
                <input type="text" class="form-control" name="cliente_id" placeholder="Codigo do cliente" value="" required>
                <div class="invalid-feedback">
                  Favor fornecer o codigo do cliente.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Data do pedido</label>
                <input type="text" class="form-control" name="pedido_data" placeholder="2020-11-03" value="" required>
                <div class="invalid-feedback">
                  Favor fornecer a data do pedido.
                </div>
              </div>
            </div>
    
            <div class="mb-3">
              <label for="email">Valor do Pedido</label>
              <input type="email" class="form-control" name="pedido_valor" placeholder="1572.25">
              <div class="invalid-feedback">
                Favor fornecer o valor do pedido.
              </div>
            </div>

              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="submit">Salvar</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2016-2020 Menu</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://menu.com.br/politica-de-privacidade">Privacy</a></li>
          <li class="list-inline-item"><a href="https://menu.com.br/termos-e-condicoes">Terms</a></li>
          <li class="list-inline-item"><a href="https://menu.com.br/contact/">Support</a></li>
        </ul>
      </footer>
</div>

{% endblock %}